<div class="wrapper default-primary-color ">
  <div class="todos__list secondary-text-color light-primary-color ">
    <div *ngFor="let item of todos"
      class="list__item"
      [class.completed]="item.completed">
      <div class="titles">
        <mat-checkbox (change)="toggleItem(item , $event)"
          [(ngModel)]="item.completed">{{item.title}}</mat-checkbox>

      </div>
      <div class="title__delete"
        (click)="deletedTodo(item)">
        <i class="material-icons">delete</i>
      </div>
    </div>

    <form class="add">
      <div class="input">
        <mat-form-field class="example-full-width">
          <input matInput
            placeholder="Введите задачу"
            [formControl]="inputTodo">
        </mat-form-field>
      </div>
      <div class="button">
        <button mat-raised-button
          color="primary"
          (click)="addTodo()"
          [disabled]="isEmptyInput">Добавить</button>
      </div>
    </form>

  </div>
</div>