.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90px;
  min-height: calc(100vh - 90px);
  padding: 50px;
  box-sizing: border-box;
}
.todos__list {
  border-radius: 5px;
  width: 500px;
  padding: 10px 15px 0px;
  background-color: white;
  box-shadow: 0px 4px 12px 0px grey;
}
.list__item {
  display: flex;
  justify-content: space-between;
  min-height: 25px;
  padding: 10px;
  border-bottom: 1px;
}
.completed {
  text-decoration: line-through;
  color: grey;
}
.title {
  margin-left: 5px;
}

.title__delete {
  opacity: 0;
  transition: 0.2s all linear;
  justify-self: flex-end;
  cursor: pointer;
}
.list__item:hover .title__delete {
  opacity: 1;
  transition: 0.2s all linear;
}
.titles {
  display: flex;
}
.add {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
